* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
	padding: 0rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1.3rem 0;
	border-bottom: .07em solid #eee;
}

#scroll-to-top {
	position: fixed;
    margin-right: 0rem;
	margin-left: 15px;
    padding: 4px;
}

@media all {
	html {
		font-size: 16px;
	}
	body>* {
		font-size: 100%;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
	#scroll-to-top {
		right: 4rem;
		bottom: 2rem;
	}
}

@media all and (max-width:840px) {
	html {
		font-size: 15px;
	}
	body>* {
		margin-left: 5.5rem;
		margin-right: 5.5rem;
	}
	#scroll-to-top {
		right: 2rem;
		bottom: 1rem;
	}
}

@media all and (max-width:760px) {
	body>* {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
	#scroll-to-top {
		right: 1.5rem;
		bottom: 0.8rem;
	}
}

@media all and (max-width:580px) {
	body>* {
		margin: .7rem 1.5rem 0 1.5rem;
	}
	#scroll-to-top {
		right: 0.5rem;
		bottom: 0.8rem;
	}
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.35;
	margin-top: .6em;
	margin-bottom: .6em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5,
h6 {
	font-size: 1.1em;
}

div.content {
	display: block;
	padding: 1rem 0;
	border-bottom: .07em solid #eee;
}

@media all and (max-width:520px) {
	div.content {
		padding: 0;
	}
}

footer {
	display: block;
	padding: .5rem 0 5.5rem 0;
}

aside {
	font-size: .9em;
	line-height: .9;
	color: #7a8288;
}

aside em {
	font-size: .7rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.45;
}

ul,
ol {
	margin-bottom: 1em;
	padding-left: 1em;
}

li {
	line-height: 1.75em;
	margin-left: .75em;
	list-style-type: square;
}

table {
	margin-bottom: 1.5rem;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	width: 95%;
}

td,
th {
	text-align: left;
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

img {
	display: block;
	border: 1px solid #ddd;
	max-width: 100%;
}

a {
	color: #ef5285;
	text-decoration: none;
}

a:active {
	color: #777;
}

a:hover {
	color: #CC6600;
	text-decoration: underline;
}

code,
pre {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

code {
	font-size: 80%;
}

pre {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 20px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

figcaption {
	font-weight: 400;
	font-style: italic;
	font-size: .7em/1.52;
	line-height: 1.3;
	color: #666665;
	outline: 0;
	z-index: 300;
	text-align: center;
}

blockquote {
	border-left: 3.5px solid #0594cb;
	margin: .7em 10px;
	padding: .7em 20px;
}

blockquote p {
	display: inline;
}

.head-navi {
	display: block;
}

.head-navi :nth-child(1) {
	font-weight: bold;
	margin-right:0.4em;
}

.head-navi :nth-child(n+2) {
	color: #777;
	font-weight: bold;
	margin-right:0.1em;
}

.post-title {
	color: #000;
	font-weight: bold;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    margin-block-start: 2em;
    margin-block-end: 2em;
}
