---
---
@import url('https://unpkg.com/primer/build/build.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');
@import url(tango.css);

body {
  font-family: 'Rubik', sans-serif;
}

.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom {
  bottom: 10px;
}

code,
pre {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

pre {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 20px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

code {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: .2em .4em;
	font-size: 80%;
}

pre code {
	background: transparent;
	border: 0;
	padding: 0;
	font-size: 80%;
}